<h4>Welcome to the Aaron Gautreau audio experience:</h4>
<br/><br/>

<%= image_tag("aaronaudio.png") %><br/><br/>

<p>
When I decided to amputate my leg, I was shocked by how far advancements in artificial limbs have come. Long gone were the days of wooden legs. But I was stunned by how much red tape an amputee had to go through actually to get a decent prosthetic. I lost my right leg in March 2007 and have fundraised well over $150,000 to walk. On the AaronGautreau Audio Experience, you'll hear episodes of my life journey, the successes of other amputees, and keynote speeches on motivation and encouragement. I will also interview successful people in business and sports in a way to help you reach your full potential.
<br/><br/><br/><br/>
SUBSCRIBE HERE:</p>
