

<div class="container-fluid">
  <div class="row">


<div class="column">  
<div class="card" style="width: 18rem; float: left">
  	<%= image_tag("logan1.jpg") %>

  <div class="card-body">
    <h5 class="card-title">Das WEBPAGE!</h5>
    <p class="card-text">Logan is a budding webpage designer, a bootstrap and ruby on rails enthusiast.</p>
    <a href="#" class="btn btn-primary">Go.. Nowhere?</a>
  </div>
</div>


      <div class="row">
     <div class="column">   
    <div class="card" style="width: 18rem; float: right">
    <%= image_tag("aaron1.jpg") %>

  <div class="card-body">
    <h5 class="card-title">LEAFS NEWS!</h5>
    <p class="card-text">Another season is upon us. Will the Leafs build another cup-worthy team to exit in the first round?</p>
    <a href="#" class="btn btn-primary">Find Out!</a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>



<br/><br>