<h1>Hear what people have to say!</h1>
<br/>
<p>"Aaron Gautreau is one of the most inspirational men I know. Aaron’s passion and drive for success are like no other and is extremely inspiring. I had the pleasure of working with Aaron on various occasions. He has supported me always in my acting and music endeavors and had interviewed me countless times and has always supported me in everything I have done in my career. Aaron graciously came and spoke at my holiday concert this past December, and he was a highlight for my entire audience. I cannot begin to count the amount of people that came up to me after the concert and told me how much they loved Aaron and how moving he was. Aaron’s story is insanely talented and motivating, and I am so thankful to know Aaron and have him in my life. GO AARON!!!"

<br/> <br/>

<p>-Kolton Stewart</p>

<p>Canadian TV actor, musician, dancer and songwriter</p>

<br/><br/>

	<%= image_tag("aarontest1.png") %><br/><br/>

<p>"We were very pleased to have Aaron Gautreau as the guest speaker for our Terry Fox Day event.  Aaron’s honesty regarding his cancer diagnosis and the subsequent choices he faced was very moving.  The fact that Aaron faced these challenges as a child and a teenager was very meaningful to the audience that he was presenting to.  The hard choices  Aaron was faced with throughout his adolescence and into his early adulthood hit home to our clients.  His positive and courageous outlook in the face of these challenges was an inspiration to all who heard his story.  Aaron’s resilient attitude of gratefulness and positivity was a reminder to all of us to live in the moment, be thankful for all that we have, and to not let life’s circumstances limit our outcomes."</p>

<br/>

<p>- Joshua Delegarde </p>

<p>Sprucedale Youth Centre</p>

<p>Youth Centre Deputy Administrator, Programs</p>

<br/><br/>


<p>"You had all the kids attention, and I know they walked away feeling inspired!"</p>

<br/>

<p>- Merisa Kriwez</p>

<p>Norfolk County's Recreation Programmer</p>
<br>

	<%= image_tag("aarontest2.png") %><br/><br/>

<p>"Aaron Gautreau walks the talk and models bravery and perseverance with every step.  Aaron’s very presence is an inspiration to overcome obstacles.  Getting up in front of an audience of 250 elementary students, Aaron shared his story with our school.  He is a masterful storyteller who had them mesmerized and in awe, but also moments of laughing out loud at some of the hilarious situations he has gotten himself into with his battery-powered leg. Aaron’s warm and playful nature was a hit with students of all ages. He was fearless about showing them the tricks he can do with his prosthetic leg and fearless about sharing his own battles with anxiety and depression.  In the classroom chats afterward, Aaron handled more specific questions from the students with age-appropriate responses that satisfied their curiosity and inspired all of them to find their courage and face their own fears and obstacles."</p>
 
<br/>

<p>- Heather</p>

<p>Elementary Teacher</p>

<p>Grand Erie District School Board</p>

<br/><br/>

	<%= image_tag("aarontest3.png") %><br/><br/>

<p>"A few years ago, Caledonia Centennial Public School had the privilege of listening to Aaron Gautreau’s story minutes before commencing their annual Terry Fox Run. While Aaron shared his journey of overcoming cancer, the gym was silent. It was evident that both students and staff were fully captivated by his story. The kids loved that Aaron was open to hanging out during the run to answer questions and sign autographs.</p> 

<br/>

<p>I think Aaron’s message of dreaming big and never giving up, regardless of your circumstances is inspirational for all ages.</p>
<p>Best of luck as you continue your journey."</p>

<br/>

<p>- Emily Kekes</p>

<p>E-C-E</p>

<p>Caledonia Centennial Public School</p>

<br/><br/>



<p>"I cannot thank you enough. Today, you changed the way I think about myself and the struggles I have. This is going to stay with me for the rest of my life. Thank you so much."</p>



<p>- Chloe</p>

<p>Student</p> 
